<!-- <li><img src="<%=book.cover_image%>" alt="cover-img"></li>
      <li class="title"><%= book.title %></li>
      <li class="pages"><%= book.pages %></li>
      <li class="publication"><%= book.publication%></li>
      <li class="category"><%= book.category %></li>
      <li class="author"><%= book.author %></li>
      <li class="summary"><%= book.summary %></li> -->